<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="newsService" class="com.mkyong.service.NewsService" autowire="autodetect" />
		
	<bean id="newsDao" class="com.mkyong.dao.NewsDao" >
		<property name="name" value="Shao lin" />
	</bean>
</beans>
